if VENDOR_CUBIETECH

# Auto select common options
choice
	prompt "Mainboard model"

config BOARD_CUBIETECH_CUBIEBOARD
	bool "Cubieboard"

config BOARD_CUBIETECH_CUBIETRUCK
	bool "Cubietruck"
       
endchoice

source "src/mainboard/cubietech/cubieboard/Kconfig"
source "src/mainboard/cubietech/cubietruck/Kconfig"

config MAINBOARD_VENDOR
	string
	default "Cubietech"

endif # VENDOR_CUBIETECH
